body{
    background-color: steelblue;
    margin: 0;
    padding: 0;
    
    }
    h1{
        text-align: center;
        color: white;
}
h2{
    text-align: center;
    color: white;
}
/* Main NavBar */
.navBar {
    display: flex;
    justify-content: space-between; /* Space between logo and nav links */
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

.navBar .navLinks {
    display: flex;
    justify-content: center; /* Center the nav links */
    flex-grow: 1; /* Let the nav links take up available space */
    text-align: center; /* Center the nav text */
    margin-left: -200px;
}

.navBar a:hover {
    background-color: white;
    color: black;
}

.navBar a {
    color: white;
    padding: 14px 10px; /* Adjust padding for smaller tab size */
    text-decoration: none;
    font-size: 17px;
    margin: 0 10px; /* Minimal spacing between nav items */
}

.navBar a.active {
    background-color: steelblue;
    color: white;
}

/* Logo Adjustments */
.logo img {
    width: 150px; /* Adjust the size of the logo */
    height: auto;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Space between the logo and nav links */
    flex-shrink: 0; /* Prevent the logo from shrinking */
}

/* Ensure hover effects don't apply to the logo */
.logo a:hover {
    background-color: transparent;
}

.windUnderstanding{
    width: 60%;            /* Limits the width to 60% of the screen (adjust as needed) */
    text-align: left;      /* Aligns the text to the left inside the container */
    padding: 25px;         /* Adds padding around the text */
    line-height: 1.4;
    color: white;
}

.swellPeriod{
    text-align: right;
    width: 60%;                 
    padding: 10px;         
    line-height: 1.4;
    margin-left: 35%;
    color: white;
}

.waveHeight{
    width: 60%;            /* Limits the width to 60% of the screen (adjust as needed) */
    text-align: left;      /* Aligns the text to the left inside the container */
    padding: 25px;         /* Adds padding around the text */
    line-height: 1.4;
    color: white;
}

.tides{
    text-align: right;
    width: 60%;                 
    padding: 10px;         
    line-height: 1.4;
    margin-left: 35%;
    color: white;
    
}